version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    environment:
      APP_ENV: local
      APP_KEY: base64:TuClaveAppKeyAqui=
      APP_DEBUG: "true"
      DATABASE_HOST: db
      DATABASE_PORT: 3306
      DATABASE_NAME: movies
      DATABASE_USER: root
      DATABASE_PASSWORD: my-secret-pw